* {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI Adjusted,Segoe UI,Liberation Sans,sans-serif;
    /* justify-content: space-between; */
}

body {
    width: min(100%, 1600px);
    height: min(100vh, 500px,);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    background-color: rgb(58, 58, 58);

    overflow: hidden;
    /* background: linear-gradient(45deg, #ff4e50, #f9d423, #24c6dc, #514a9d);
    background-size: 200% 200%;
    animation: gradientShift 20s ease infinite; */
}

.headerContainer {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin-bottom: 10px;
}

.headerLogo {
    max-width: 250px;
    max-height: 50px;
}

/* Main body and Map css */
.cesiumBodyContainer {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 15px;
}

#cesiumMapContainer {
    width: 100%;
    height: 80vh;
}

.customH1 {
    font-size: 1.2em;
    font-weight: bold;
}

.urlLinks {
    font-size:15px;
    text-align: right;
    padding: 0;
    margin: -10 0 20px 0;
}

/* table css */
table {
    width: 70%;
    margin: 30px auto;
    border-collapse: separate;
    border-spacing: 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 10px;
}

th {
    font-weight: bold;
    background-color: #dadada;
    color: rgb(0, 0, 0);
}

tr:hover td {
    background-color: #d1e7dd;
}

