* {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI Adjusted,Segoe UI,Liberation Sans,sans-serif;
}

body {
    width: min(90%, 200vh, 1750px);
    height: min(100vh, 500px,);
    margin: 7.5px 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    background: rgb(8,0,153);
    background: linear-gradient(90deg, rgb(3, 0, 50) 0%, rgb(124, 0, 49) 100%);
    overflow: hidden;
}

.webHeaderContainer {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 5px;
}

.webHeaderLogo {
    max-width: 250px;
    max-height: 40px;
}

nav {
    width:100%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
}

nav a {
    color:  rgb(255, 62, 181);
    padding: 5px;
    margin: 0px 10px;
}

.webFooterContainer {
    width: 100%;
    height: 25px;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    color: black;
}

/* Main body and Map css */
.mainBodyContainer {
    height: 80vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    overflow: hidden;
}

#cesiumMapContainer {
    width: 100%;
    height: 73vh;
    border-bottom: 1px solid black;
}
#cesiumMapContainerEmpty {
    width: 100%;
    height: 73vh;
    border: 1px solid black;
}

.customH1 {
    font-size: 1.2em;
    font-weight: bold;
}

/* table css */
table {
    width: 70%;
    margin: 30px auto;
    border-collapse: separate;
    border-spacing: 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
}
th, td {
    padding: 10px;
}
th {
    font-weight: bold;
    background-color: #dadada;
    color: rgb(0, 0, 0);
}
tr:hover td {
    background-color: #d1e7dd;
}

